# Copie ce fichier vers un fichier nommé '.env' et remplace la valeur ci-dessous.
# Génère une clé de licence serveur sur : https://keymaster.fivem.net/
FIVEM_LICENSE_KEY=REMPLACE_AVEC_TA_CLE_DE_LICENCE
